rush-1-1/*.out
rush-1-1/main.c
rush-1-1/my_putchar.c
rush-1-2/*.out
rush-1-2/main.c
rush-1-2/my_putchar.c
rush-1-3/*.out
rush-1-3/main.c
rush-1-3/my_putchar.c
rush-1-4/*.out
rush-1-4/main.c
rush-1-4/my_putchar.c
rush-1-5/*.out
rush-1-5/main.c
rush-1-5/my_putchar.c